<block name="header"></block>
<style>
     h3{
        text-indent: 20px;
        font-size: 16px;
        letter-spacing: 2px;
        font-weight: 900;
        background-color: #F1F8FF;
    }
    #myside{
        overflow: hidden;;
        float:right;
    }
    .combox{
        border: 1px solid #ddd;
        margin:0 0 10px 0;
    }
    .combox h2,.combox h3,.combox h4,.combox h5,.combox h6{
        margin-top:0px;
    }
    .combox .cbox5{
        padding:10px;
    }
</style>
<div id="main-container" class="container" style="border:0px solid red;">

    <div class="row ">
        <div class="span9">
            <block name="body"></block>
        </div>
        <div class="span3">
            <block name="side">
            <!-- 左侧 nav
            ================================================== -->
                <div class="span3 bs-docs-sidebar" id='myside'>

                    <ul class="nav nav-list bs-docs-sidenav2">
                        <li>
                            <block name="t1">
                                <div class="combox">
                                    <h3 class="title_color title_bg_color border_color">{$t1h3}</h3>
                                    <div class="cbox5">
                                        {$t1content}
                                    </div>
                                </div>
                            </block>
                        </li>
                        <li>
                            <block name='t2'>
                                <div class="combox ">
                                    <h3 class="title_color title_bg_color border_color">{$t2h3}</h3>
                                    <div class="cbox5">
                                        {$t2content}
                                    </div>
                                </div>
                            </block>
                        </li>
                        <li>
                            <block name="t3">
                                <div class="combox ">
                                    <h3 class="title_color title_bg_color border_color">{$t3h3}</h3>
                                    <div class="cbox5">
                                        {$t3content}
                                    </div>
                                </div>
                            </block>
                        </li>
                        <li>
                            <block name="t4">
                                <div class="combox ">
                                    <h3 class="title_color title_bg_color border_color">{$t4h3}</h3>
                                    <div class="cbox5">
                                        {$t4content}
                                    </div>
                                </div>
                            </block>
                        </li>
                        <li>
                            <block name="t5">
                                <div class="combox ">
                                    <h3 class="title_color title_bg_color border_color">{$t5h3}</h3>
                                    <div class="cbox5">
                                        {$t5content}
                                    </div>
                                </div>
                            </block>
                        </li>
                        <li>
                            <block name="t6">
                                <div class="combox ">
                                    <h3 class="cb-h3">{$t6h3}</h3>
                                    <div class="cbox5">
                                        {$t6content}
                                    </div>
                                </div>
                            </block>
                        </li>
                    </ul>

                    <block name="publish"></block>
                    {/*
                        :W('Category/lists', array($category['id'], ACTION_NAME == 'index'))
                    */}

                </div>
            </block>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $(window).resize(function(){
            $("#main-container").css("min-height", $(window).height() - 343);
        }).resize();
    })
</script>
