<div class="form-item cf">
    <label class="item-label">轮播图<span class="check-tips">（只有新增了字段，该表才会真正建立）</span></label>
    <div class="controls">
        <!-- ------------------------------------------- -->
        <label class="item-label">首页第一张轮播图</label>
        <input type="file" id="upload_picture_lunbo1">
        <input type="hidden" name="lunbo1" id="lunbo1" value="{$info['lunbo1']|default=''}"/>
        <div class="upload-img-box lb1">
            <notempty name="info['lunbo1']">
                <div class="upload-pre-item"><img src="__ROOT__{$info.lunbo1|get_cover='path'}"/></div>
            </notempty>
        </div>
        <!-- ------------------------------------------- -->
        <label class="item-label">首页第二张轮播图</label>
        <input type="file" id="upload_picture_lunbo2">
        <input type="hidden" name="lunbo2" id="lunbo2" value="{$info['lunbo2']|default=''}"/>
        <div class="upload-img-box  lb2">
            <notempty name="info['lunbo2']">
                <div class="upload-pre-item"><img src="__ROOT__{$info.lunbo2|get_cover='path'}"/></div>
            </notempty>
        </div>
        <!-- ------------------------------------------- -->
        <label class="item-label">首页第三张轮播图</label>
        <input type="file" id="upload_picture_lunbo3">
        <input type="hidden" name="lunbo3" id="lunbo3" value="{$info['lunbo3']|default=''}"/>
        <div class="upload-img-box lb3">
            <notempty name="info['lunbo3']">
                <div class="upload-pre-item"><img src="__ROOT__{$info.lunbo3|get_cover='path'}"/></div>
            </notempty>
        </div>
        <!-- ------------------------------------------- -->
        <label class="item-label">首页第四张轮播图</label>
        <input type="file" id="upload_picture_lunbo4">
        <input type="hidden" name="lunbo4" id="lunbo4" value="{$info['lunbo4']|default=''}"/>
        <div class="upload-img-box lb4">
            <notempty name="info['lunbo4']">
                <div class="upload-pre-item"><img src="__ROOT__{$info.lunbo4|get_cover='path'}"/></div>
            </notempty>
        </div>
        <!-- ------------------------------------------- -->
    </div>
</div>

<script type="text/javascript">
//上传图片
/* 初始化上传插件 */
$("#upload_picture_lunbo1").uploadify({
    "height"          : 30,
    "swf"             : "__STATIC__/uploadify/uploadify.swf",
    "fileObjName"     : "download",
    "buttonText"      : "上传图片",
    "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
    "width"           : 120,
    'removeTimeout'   : 1,
    'multi'          : false,
    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
    "onUploadSuccess" : uploadPictureLunbo1,
    'onFallback' : function() {alert('未检测到兼容版本的Flash.'); }
});
$("#upload_picture_lunbo2").uploadify({
    "height"          : 30,
    "swf"             : "__STATIC__/uploadify/uploadify.swf",
    "fileObjName"     : "download",
    "buttonText"      : "上传图片",
    "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
    "width"           : 120,
    'removeTimeout'   : 1,
    'multi'          : false,
    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
    "onUploadSuccess" : uploadPictureLunbo2,
    'onFallback' : function() {alert('未检测到兼容版本的Flash.'); }
});
$("#upload_picture_lunbo3").uploadify({
    "height"          : 30,
    "swf"             : "__STATIC__/uploadify/uploadify.swf",
    "fileObjName"     : "download",
    "buttonText"      : "上传图片",
    "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
    "width"           : 120,
    'removeTimeout'   : 1,
    'multi'          : false,
    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
    "onUploadSuccess" : uploadPictureLunbo3,
    'onFallback' : function() {alert('未检测到兼容版本的Flash.'); }
});
$("#upload_picture_lunbo4").uploadify({
    "height"          : 30,
    "swf"             : "__STATIC__/uploadify/uploadify.swf",
    "fileObjName"     : "download",
    "buttonText"      : "上传图片",
    "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
    "width"           : 120,
    'removeTimeout'   : 1,
    'multi'          : false,
    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
    "onUploadSuccess" : uploadPictureLunbo4,
    'onFallback' : function() {alert('未检测到兼容版本的Flash.'); }
});
function uploadPictureLunbo1(file, data){
    var data = $.parseJSON(data); var src = '';
    if(data.status){
        $("#lunbo1").val(data.id);
        src = data.url || '__ROOT__' + data.path;
        $("#lunbo1").parent().find('.lb1').html('<div class="upload-pre-item"><img src="' + src + '"/></div>');
    } else {
        updateAlert(data.info);
        setTimeout(function(){$('#top-alert').find('button').click(); $(that).removeClass('disabled').prop('disabled',false); },1500);
    }
}
function uploadPictureLunbo2(file, data){
    var data = $.parseJSON(data); var src = '';
    if(data.status){
        $("#lunbo2").val(data.id);
        src = data.url || '__ROOT__' + data.path;
        $("#lunbo2").parent().find('.lb2').html('<div class="upload-pre-item"><img src="' + src + '"/></div>');
    } else {
        updateAlert(data.info);
        setTimeout(function(){$('#top-alert').find('button').click(); $(that).removeClass('disabled').prop('disabled',false); },1500);
    }
}
function uploadPictureLunbo3(file, data){
    var data = $.parseJSON(data); var src = '';
    if(data.status){
        $("#lunbo3").val(data.id);
        src = data.url || '__ROOT__' + data.path;
        $("#lunbo3").parent().find('.lb3').html('<div class="upload-pre-item"><img src="' + src + '"/></div>');
    } else {
        updateAlert(data.info);
        setTimeout(function(){$('#top-alert').find('button').click(); $(that).removeClass('disabled').prop('disabled',false); },1500);
    }
}
function uploadPictureLunbo4(file, data){
    var data = $.parseJSON(data); var src = '';
    if(data.status){
        $("#lunbo4").val(data.id);
        src = data.url || '__ROOT__' + data.path;
        $("#lunbo4").parent().find('.lb4').html('<div class="upload-pre-item"><img src="' + src + '"/></div>');
    } else {
        updateAlert(data.info);
        setTimeout(function(){$('#top-alert').find('button').click(); $(that).removeClass('disabled').prop('disabled',false); },1500);
    }
}
</script>
